* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'whyte', Arial, Helvetica, sans-serif;
}


body{
    background-color: #689BF7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
    height: 100vh;

}

/* CURSORS */
html{
    cursor: url('/assets/images/PointerBody.png'), auto;
}

 .repo, .repo p {
    cursor: url('/assets/images/PointerHover.png'), auto;
}

input, p, h3 {
    cursor: url('/assets/images/PointerText.png'), auto;

}

.main{
    width: 100%;
    /* height: 100vh; */
    width: 1000px;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    padding: 0px 40px;
    border: 2px solid red;
}

.container{
    border: 4px solid black;
    /* background-color: white; */
    width: 100%;
    /* width: 1300px; */
    height: 100%;
    /* padding: 40px; */
    border-radius: 30px;
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: auto; */
}

.box{
    border: 4px solid black;
    /* width: 30%; */
    width: 430px;
    height: 600px;
    /* height: 80%; */
    /* margin: 0px 40px; */
    /* margin-top: 120px; */
    border-radius: 30px;
    background-color: #C8B8FF;
    position: relative ;
    text-align: center;
    /* overflow: auto; */
    
}

.leftBox{
    background-color:  #FFC700;
}
.rightBox{
    background-color: #2DD998;
    padding: 0px  30px;
}

.inputBox{
    height: 15%;
}
input{
    border: 3px solid black;
    border-radius: 10px;
    width: 90%;
    height: 50px;
    margin-top: 20px;
    padding: 12px;

    background-color: #699CF8;
    font-size: 18px;
    font-weight: 600;

}

::placeholder {
    color: white;
    opacity: 0.6; 
    font-weight: 300;
    font-size: 16px;
  }

.profile{
    height: 80%;
}

.about{
    height: 60%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}
.profileImg{
    border: 4px solid black;
    border-radius: 50%;
    height: 190px;
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2DD998;
}

img{
    border: 4px solid black;
    border-radius: 50%;
    height: 170px;
    width: 170px;
}

.about h3{
    background-color: white;
    border: 3px solid black;
    border-radius: 6px;
    padding: 4px;
    max-width: 300px;
    max-height: 70px;
}

.details{
    height: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.bio{
    border: 4px solid black;
    border-radius:8px;
    max-height: 50%;
    overflow: auto;
    background-color: white;
    padding: 8px;
    text-align: justify;
    font-weight: 500;
    line-height: 18px;
}

.bio::-webkit-scrollbar {
    display: none;
  }

.followers{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4px;
    background-color: #699CF8;
    border: 3px solid black;
    border-radius: 8px;
    font-weight: 600;
    color: white;
}


.rightUi{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 10px;
}

.rightUi span{
    border-radius: 50%;
    width: 16px;
    height: 16px;
}

.repositories{
    overflow: auto;
    margin-top: 10px;
    padding: 0px 10px 0px 0px;
    height: 90%;
}

.scrollbar::-webkit-scrollbar {
    width: 12px;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
}


.repo{
    background-color: white;
    border: 3px solid black;
    height: 50px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 18px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;


}

@media (max-width: 1024px){
 
 .box{
    /* width: 30%; */
    width: 370px;
    height: 500px;
    /* height: 80%; */
    /* margin: 0px 40px; */
 }
}
@media (max-width: 848px){
 
    /* .container{ */
        /* flex-direction: column; */
    /* } */
 .box{
    /* width: 30%; */
    /* width: 320px; */
    /* height: 500px; */
    /* height: 80%; */
    /* margin: 0px 40px; */
 }

 .main{
    width: 100%;
    /* height: 100vh; */
    /* margin-top: 50px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center ; */
    gap: 20px;
    border: 2px solid red;
 }
 .followers p{
    font-size: 14px;
    
 }
}

/* @media (max-width: 820px){
  body{
    display: flex;
    flex-direction: column;
  }
} */