* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'whyte', Arial, Helvetica, sans-serif;
}


body{
    background-color: #689BF7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

/* CURSORS */
html{
    cursor: url('/assets/images/PointerBody.png'), auto;
}

 .repo, .repo p {
    cursor: url('/assets/images/PointerHover.png'), auto;
}

input, p, h3 {
    cursor: url('/assets/images/PointerText.png'), auto;
}

 .phoneUi{
    border: 4px solid black;
    width: 1280px;
    height: 90%;
    border-radius: 30px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.header{
    width: 100%;
    height: 10%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    gap: 8px;
}

.header p {
    color: grey;
    font-size: 12px;
}

.phoneScreen{
    width: 90%;
    height: 80%;
    padding: 0px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #C8B8FF;
    border: 4px solid black;
    color: black;
    border-radius: 12px;
    font-weight: bold;
}

.ui {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: 15%;
}

.greenBars{
 width: 40%;
 display: flex;
 justify-content: start;
 gap: 10px;
}

.greenBars span {
    border-radius: 12px;
    border: 3px solid black;
    width: 20%; 
    height: 22px;
}

.circleDiv {
    display: flex; 
    justify-content: space-around; 
    width: 100px;
}
.circleDiv span {
    width: 20px; 
    height: 20px; 
    border-radius: 12px;
    border: 3px solid black;
}

.searchInput{
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;    
}
input{
    border: 3px solid black;
    border-radius: 10px;
    width: 90%;
    height: 100%;
    padding: 12px;
    background-color: #699CF8;
    font-size: 18px;
    font-weight: 600;
}
::placeholder {
    color: white;
    opacity: 0.6; 
    font-weight: 300;
    font-size: 16px;
  }

.info{
    height: 75%;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}


.info .firstBox{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.info img{
    width: 200px;
    height: 200px;
    border: 4px solid black;
    border-radius: 50%;
}

.info .about{
    border: 2px solid green;

    width: 70%;
    padding: none;
    margin: 12px 0px;
    border: 4px solid black;
    border-radius:8px;
    height: 30%;
    background-color: white;
    text-align: justify;
}

.info .about .name{
    border-bottom: 4px solid black;
    border-radius: 4px 4px 0px 0px;
    width: 100%;
    height: 30%;
    padding: 4px;
    text-align: center;
    display: flex;
    justify-content: center ;
    align-items: center;
    font-weight: 800;
    text-transform: uppercase;
    /* background-color: #FF8477; */
    background-color: #FFC700;
}

.info .about .bio{
    padding: 8px;
    height: 70%;
    overflow: auto;   
}

.bio::-webkit-scrollbar {
    display: none;
  }

  .info .followers{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4px;
    background-color: #699CF8;
    border: 3px solid black;
    border-radius: 8px;
    font-weight: 600;
    margin: 12px 0px;
    color: white;

}

/* Repository*/

.info .repoDiv{
    border: 3px solid black;
    height: 100%;
    width: 80%;
    border-radius: 20px;
    background-color: #2DD998;
}

.info .repoHeader{
    border-bottom: 3px  solid black;
    background-color: white;
    width: 100%;
    height: 8%;
    border-radius: 17px 17px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.repoHeader h3{
    width:90%;
    margin-left: 30px;
}
.repoHeader i {
    width: 10%;
    margin-right: 20px;
}

.info .repositories{
    overflow: auto;
    height: 92%;
    padding: 20px;    
}

.info .repo{
    background-color: white;
    border: 3px solid black;
    height: 50px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 18px;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}


.scrollbar::-webkit-scrollbar {
    width: 12px;
}

.scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
}


@media (max-width: 1300px) {
    .phoneUi{
        width: 1080px;
    }
     .info img{
        width: 160px;
        height: 160px;
    }
}
@media (max-width: 1124px) {
    .phoneUi{
        width: 880px;
    }
}

@media (max-width: 910px) {
    .phoneUi{
        width: 580px;
    }
    .info .firstBox{
        height: 100%;
        width: 100%;
        padding: 20px;
    }
}


@media (max-width: 648px)
{
    .phoneUi{
        width: 440px;
        height: 80%;

    }
    .info .firstBox{
        height: 100%;
        width: 100%;
        padding: 20px;
    }
    .info img{
        width: 150px;
        height: 150px;
    }
    .info .about{
        width: 80%;
    }
    .info .followers {
        font-weight: 500;
    }
}


@media (max-width: 475px)
{
    .phoneUi{
        width: 340px;
        height: 80%;
    }

    .header{
        font-size: 18px;
    }
    .info .firstBox{
        padding: 5px;
    }
    .info img{
        width: 150px;
        height: 150px;
    }
    .info .about{
        width: 90%;
        height: 30%;
    }

    .info .followers {
        font-size: 12px;
        font-weight: 500;
    }

    .info .repoDiv{
        border: 3px solid black;
        height: 90%;
        width: 90%;
    }
    .repoHeader h3{
        font-size: 16px;
    }
    
    .info .repo{
        font-size: 16px;
        overflow: auto;
    }
}


@media (max-height: 660px){
    .info img{
        width: 100px;
        height: 100px;
    }
}