@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #0F0F0F;
    /* correct: #008170; 
    wrong: #CD1818
    wrong2: #ED2B2A
    primaryYellow: #FEC260
    */
    font-family: 'Poppins', sans-serif;
    color: rgb(224, 212, 212);
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box{
    width: 40%;
    /* height: 400px; */
    /* box-shadow: 0px 0px 5px grey; */
    background-color: rgb(28, 28, 28);
    border-radius: 20px;
    padding: 15px;
}

.row{
    width: 100%;
    margin: 2rem;
    border: 2px solid rgb(106, 106, 106);
    margin-left: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 0px 10px;
}
input{
    background-color: transparent;
    cursor: pointer;
    font-size: 220px;
}

.btn{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    background-color: #fbaf33;
    color: black;
    
}

.btn:hover{
    background-color: #FEC260;
    color: black;
}