@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #f1f5f8;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    font-size: 20px;
    margin-top: 15px;
    align-items: center;
}

.row div {
    padding: 10px;
}

.row input {
    width: 100px;
    height: 40px;
    padding: 5px;
    border-radius: 10px;
    border: 0;
    font-size: 20px;
    box-shadow: 0px 0px 2px grey;
}

.row button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: orange;
    padding: 5px;
    border-radius: 10px;
    border: 1;
    width: 50px;
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
    color: black;
    cursor: pointer;
}

.row button:hover{
    background-color: rgb(236, 154, 1);
}

.row p {
    margin-top: 10px;
    font-size: 16px;
    text-align: justify;
}