@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Light Green: #90ee90
Lime Green: #32cd32
Mint Green: #98ff98
Forest Green: #228b22
Olive Green: #556b2f 
Green: #50C878*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    transition: 0.5s;
    overflow: hidden;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 30rem;
    /* height: 8rem; */
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    font-size: 16px;
    text-align: center;
}

.secondary{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    font-size: 24px;
    margin-top: 10px;
    display: block;
    width: 100%;
    background-color: black;
    color: white;
    border-radius: 8px;
    height: 50px;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: rgb(35, 35, 35);
}

.footer{
    text-align: center;
    margin: auto;
    margin-top: 10px;
    
}